body {
    background-color: white;
}
/* Estilos para el navbar */
.navbar {
    background: linear-gradient(90deg, #fc94dd, 
    #fadac4, #a1c4fd);
}
.navbar-brand, .nav-link {
    color: #f2f2f3 !important;
    font-weight: bold;
}
/* Estilos para el header */
.header {
    background: linear-gradient(90deg, #fc94dd, #fadac4, #a1c4fd);
    color: white;
    padding: 50px 20px;
    text-align: center;
}
/* Contenedor de Cards */
.card-container {
    background: #f7eef8; /* Color de fondo sutil */
    border: #f7bae4 solid;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/* Oculta la descripción con opacidad */
.card .description {
    position: absolute;
    bottom: 50px; /* Para que no se superponga con el botón */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #f0e4ed;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;  /* Invisible al inicio */
    transition: opacity 0.3s ease-in-out; /* Efecto de aparición suave */
}

/* Aparece la descripción al pasar el mouse */
.card:hover .description {
    opacity: 1;
}

/* Ajusta la posición de la card para que el texto no cause movimiento */
.card {
    position: relative;
    padding-bottom: 60px; /* Espacio para la descripción oculta */
    overflow: hidden; /* Evita que el texto sobresalga */
}

/* Estilos para las cards */
.card {
    border: none;
    background: linear-gradient(45deg, #fc94dd, #fadac4, 
    #fadac4, #f5bdc4, #fcea90, #a5c6fa, #bbe8fd);
    background-size: 300% 300%;
    animation: gradientBG 6s ease infinite;
    color: #1a1b1c;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
}
.card:hover {
    transform: scale(1.05) rotate(3deg);
}
@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* Footer */
.footer {
    background: linear-gradient(90deg, #a1c4fd, #bdfaf7);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

h1{
    text-align: center;    
    color: #1a1b1c;
}
p{
    text-align: center;
    color: #1a1b1c;
}
li{
    text-align: center;
    color: #1a1b1c; 
    font-size: 12px;
}