body {
    font-family: Arial, sans-serif;
   /* background: linear-gradient(to right, #1e3c72, #2a5298); */
    color: white;
    text-align: center;
    /* padding: 20px; */
}

/* Estilos para el navbar */
.navbar {
    background: linear-gradient(90deg, #fc94dd, 
    #fadac4, #a1c4fd);
}
.navbar-brand, .nav-link {
    color: #f2f2f3 !important;
    font-weight: bold;
}
/* Estilos para el header */
.header {
    background: linear-gradient(90deg, #fc94dd, #fadac4, #a1c4fd);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background: #007bff;
    color: white;
}

tr:nth-child(even) {
    background: #f2f2f2;
}
/* Footer */
.footer {
    background: linear-gradient(90deg, #a1c4fd, #bdfaf7);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}