.redBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    background-color: crimson;
}

.blueBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    background-color: cornflowerblue;
}